
.vs/slnx.sqlite
WebAppTW/.vs/WebAppTW/v15/.suo
WebAppTW/.vs/WebAppTW/v15/Server/sqlite3/storage.ide-shm
WebAppTW/WebAppTW/lib/bootstrap-rtl/css/bootstrap-flipped.css
WebAppTW/WebAppTW/lib/bootstrap-rtl/css/bootstrap-flipped.css.map
WebAppTW/WebAppTW/lib/bootstrap-rtl/css/bootstrap-flipped.min.css
WebAppTW/WebAppTW/lib/bootstrap-rtl/css/bootstrap-rtl.css
WebAppTW/WebAppTW/lib/bootstrap-rtl/css/bootstrap-rtl.css.map
WebAppTW/WebAppTW/lib/bootstrap-rtl/css/bootstrap-rtl.min.css
WebAppTW/WebAppTW/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebAppTW/WebAppTW/obj/Release/WebAppTW.csproj.CoreCompileInputs.cache
